<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/">

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/admin/js/scripts.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/admin/js/datatables-simple-demo.js}"></script>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        font: normal 14px "Noto Sans CJK KR";
    }
</style>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">REST CINEMA</a>

    <!-- Navbar Search
          <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
              <div class="input-group">
                  <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                  <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
              </div>
          </form>
          -->

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                    id="navbarDropdown"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-user fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">개인정보 수정</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" th:href="@{/admin/index}">
                        <div class="sb-nav-link-icon"></div>
                        메인 페이지
                    </a>
                    <div class="sb-sidenav-menu-heading">Movie</div>
                    <a class="nav-link" th:href="@{/admin/register}">
                        <div class="sb-nav-link-icon"></div>
                        영화 등록
                    </a>
                    <a class="nav-link" th:href="@{/admin/timeRegister}">
                        <div class="sb-nav-link-icon"></div>
                        상영 시간 등록
                    </a>
                    <a class="nav-link" th:href="@{/admin/movieList}">
                        <div class="sb-nav-link-icon"></div>
                        상영 목록
                    </a>
                    <div class="sb-sidenav-menu-heading">Member</div>
                    <a class="nav-link" th:href="@{/admin/userList}">
                        <div class="sb-nav-link-icon"></div>
                        회원
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as: 성찬</div>
                관리자님 환영합니다.
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"></h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">어서오세요 관리자님</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        TODAY 상영 영화 목록
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>영화 제목</th>
                                    <th>상영 지역</th>
                                    <th>상영관</th>
                                    <th>Running Time</th>
                                    <th>관람 등급</th>
                                    <th>상영 시간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="movie:${movieList}">
                                    <td th:text="${movie.movieName}">Tiger Nixon</td>
                                    <td th:text="${movie.region1Name + ' - ' + movie.region2Name}">부산 -  서면</td>
                                    <td th:text="${movie.roomName}">11:45</td>
                                    <td th:text="${movie.runTime + '분'}">120분</td>
                                    <td th:text="${movie.movieAge}">61</td>
                                    <td th:text="${#strings.substring(movie.playTime, 0, 5)}">14:25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                </div>
            </div>
        </footer>
    </div>
</div>

</body>
</html>
