<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.cs.mapper.CsNoticeMapper">

    <!-- CRUD -->
    <insert id="insertNotice"></insert>

    <select id="selectNotice" resultType="com.cinema.cs.dto.CsNoticeDTO">
        SELECT * FROM `cs_notice`
    </select>

    <select id="selectNotices" resultType="com.cinema.cs.dto.CsNoticeDTO">
        SELECT `noticeNo`, `uid`, `title`, `rdate` FROM `cs_notice`
        ORDER BY `noticeNo` DESC
        LIMIT #{start}, 10;
    </select>

    <update id="updateNotice"></update>

    <delete id="deleteNotice"></delete>

    <!-- 페이징 -->
    <select id="noticeCountTotal" resultType="int">
        SELECT COUNT(*) FROM `cs_notice`;
    </select>

    <select id="selectNoticeByNo" resultType="com.cinema.cs.dto.CsNoticeDTO">
        SELECT * FROM cs_notice WHERE noticeNo = #{noticeNo}
    </select>

</mapper>