<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">

<head>
    <meta charset="UTF-8">
    <title>REST Cinema</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/cs/css/cs.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>
<body>
    <!-- topGnb -->
    <div class="container has-lnb"  layout:fragment="content">
        <div class="page-util">
            <div class="inner-wrap">
                <div class="location">
                    <span>Home</span>
                    <a th:href="@{/cs/index}" title="고객센터 페이지로 이동">고객센터</a>
                    <a th:href="@{/cs/index}" title="고객센터 페이지로 이동">고객센터 홈</a>
                </div>
            </div>
        </div>

        <div class="inner-wrap">
            <!-- aside바 시작 -->
            <div th:replace="~{/cs/fragments/_aside.html}"></div>
            <!-- aside바 끝 -->

            <div id="contents" class="">
                <h2 class="tit">고객센터 홈</h2>

                <!-- input-search-area -->
                <div class="input-search-area mb30">
                    <div class="input-area">
                        <label for="search01" class="label">빠른검색</label>

                        <div class="board-search w460px">
                            <input type="search" id="searchTxt" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" maxlength="15">
                            <button type="button" class="btn-search-input" id="searchBtn">검색</button>
                        </div>
                    </div>

                    <div class="btn-area">

                    </div>
                </div>
                <!--// input-search-area -->

                <div class="custo-main">
                    <div class="main-block">
                        <div class="block-content" style="display: none">
                            <a href="#" id="channelTalk" title="상담톡 이용">
                                <p>
                                    <strong>상담톡 이용</strong>
                                    상담톡으로 편리하게 문의해주세요.
                                </p>
                            </a>
                        </div>
                        <div class="block-content">
                            <a th:href="@{/cs/faq}" title="자주 묻는 질문 페이지로 이동">
                                <p>
                                    <strong>자주 묻는 질문</strong>
                                    자주 묻는 질문<br>빠르고 간편하게 검색하세요.
                                </p>
                            </a>
                        </div>
                        <div class="block-content">
                            <a th:href="@{/cs/notice}" title="1:1 문의 페이지로 이동">
                                <p>
                                    <strong>공지사항</strong>
                                    공지사항<br>고객님들께 알립니다.
                                </p>
                            </a>
                        </div>
                        <div class="block-content">
                            <a th:href="@{/cs/qna}" title="1:1 문의 페이지로 이동">
                                <p>
                                    <strong>1:1 문의</strong>
                                    해결되지 않은 문제가 있나요?<br>1:1문의로 문의주세요.
                                </p>
                            </a>
                        </div>
                        <div class="block-content">
                            <a href="#" title="분실물 문의 페이지로 이동">
                                <p>
                                    <strong></strong>
                                </p>
                            </a>
                        </div>
                    </div>

                    <div class="notice-wrap">
                        <div class="block left">
                            <div class="tit-area">
                                <h3 class="tit small">자주 묻는 질문 BEST5</h3>

                                <a th:href="@{/cs/faq}" class="more" title="더보기">더보기 <i class="iconset ico-arr-right-gray ml07"></i></a>
                            </div>
                            <div class="">
                                <ol class="decimal-list">
                                    <li>
                                        <a href="#" class="faqBtn" data-idx="1" title="질문 상세보기">
                                            <span class="font-roboto">1</span>&nbsp;
                                            <span class="font-gblue">[기프트카드]</span> 기프트카드를 보냈는데 상대방이 받지 못한다고 합니다.
                                            <span class="date">2023.07.12</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="faqBtn" data-idx="2" title="질문 상세보기">
                                            <span class="font-roboto">2</span>&nbsp;
                                            <span class="font-gblue">[기프트카드]</span> 선물은 어떤 경로로 보낼 수 있나요?
                                            <span class="date">2023.07.12</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="faqBtn" data-idx="3" title="질문 상세보기">
                                            <span class="font-roboto">3</span>&nbsp;
                                            <span class="font-gblue">[기프트카드]</span> 신용카드의 구매 한도는 얼마이며, 법인카드로 결제가 가능한가요?
                                            <span class="date">2023.07.12</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="faqBtn" data-idx="4" title="질문 상세보기">
                                            <span class="font-roboto">4</span>&nbsp;
                                            <span class="font-gblue">[기프트카드]</span> 여러 명에게 선물한 후 부분적으로 취소가 가능한가요?
                                            <span class="date">2023.07.12</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="faqBtn" data-idx="5" title="질문 상세보기">
                                            <span class="font-roboto">5</span>&nbsp;
                                            <span class="font-gblue">[기프트카드]</span> 예약 전송을 할 수 있나요?
                                            <span class="date">2023.07.12</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="block right">
                            <div class="tit-area">
                                <h3 class="tit small">공지사항</h3>
                                <a th:href="@{/cs/notice}" class="more" title="더보기">더보기 <i class="iconset ico-arr-right-gray ml07"></i></a>
                            </div>
                            <div class="decimal-list">
                                <ol>
                                    <li>
                                        <a href="#" class="moveBtn" data-no="10998" title="공지사항 상세보기">
                                            <span class="font-gblue"><i class="iconset ico-notice"></i> [공지]</span>
                                            메가박스 개인정보 처리 방침 변경 안내
                                            <span class="date">2023.11.13</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveBtn" data-no="10997" title="공지사항 상세보기">
                                            <span class="font-purple"><i class="iconset ico-marker"></i> [코엑스]</span>
                                            [코엑스]시사회 진행에 따른 고객 안내 (11/16)
                                            <span class="date">2023.11.13</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveBtn" data-no="10996" title="공지사항 상세보기">
                                            <span class="font-purple"><i class="iconset ico-marker"></i> [송도]</span>
                                            [송도] Dolby Atmos관(구 MX관) 리뉴얼 공사
                                            <span class="date">2023.11.10</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveBtn" data-no="10995" title="공지사항 상세보기">
                                            <span class="font-gblue"><i class="iconset ico-notice"></i> [공지]</span>
                                            제 11회 시네마리플레이 진행 공지
                                            <span class="date">2023.11.08</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="moveBtn" data-no="10994" title="공지사항 상세보기">
                                            <span class="font-gblue"><i class="iconset ico-notice"></i> [공지]</span>
                                            [해피머니] IDC 네트워크 정기점검 안내 (11/12)
                                            <span class="date">2023.11.07</span>
                                        </a>
                                    </li>

                                </ol>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>


</body>
</html>
