<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="/layout.html">

<head>
    <meta charset="UTF-8">
    <title>REST Cinema</title>
    <link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/cs/css/cs.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
</head>
<body>

<div class="container has-lnb" layout:fragment="content">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a th:href="@{/cs/index}" title="고객센터 페이지로 이동">고객센터</a>
                <a th:href="@{/cs/notice}" title="공지사항 페이지로 이동">공지사항</a>
            </div>
        </div>
    </div>

    <div class="inner-wrap">
        <!-- aside 시작 -->
        <div th:replace="~{/cs/fragments/_aside.html}"></div>
        <!-- aside 끝 -->

        <!-- notice 본문 -->
        <div id="contents">
            <h2 class="tit">공지사항</h2>

            <div class="board-list-util">
                <p class="result-count">
                    <strong>전체 <em class="font-gblue">[[${totalNotices}]]</em>건</strong>
                </p>

                <div class="dropdown bootstrap-select mr07 bs3">

                    <div class="dropdown-menu open" role="combobox">
                        <div class="inner open" role="listbox" aria-expanded="false" tabindex="-1">
                        <ul class="dropdown-menu inner "></ul>
                        </div>
                        </div>
                    </div>

                <div class="dropdown bootstrap-select disabled mr07 bs3">

                    <div class="dropdown-menu open" role="combobox">
                        <div class="inner open" role="listbox" aria-expanded="false" tabindex="-1">
                            <ul class="dropdown-menu inner "></ul>
                        </div>
                    </div>
                </div>

                <div class="board-search">
                    <input type="text" id="searchTxt" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" value="" maxlength="15">
                    <button type="button" id="searchBtn" class="btn-search-input">검색</button>
                </div>
            </div>

            <div class="table-wrap">
                <table class="board-list">
                    <caption>번호, 극장, 구분, 제목, 등록일이 들어간 공지사항 전체 리스트</caption>
                    <colgroup>
                        <col style="width:72px;">
                        <col style="width:133px;">
                        <col style="width:95px;">
                        <col>
                        <col style="width:116px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">극장</th>
                        <th scope="col"></th>
                        <th scope="col">제목</th>
                        <th scope="col">등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice:${notices}">
                        <td>[[${notice.noticeNo}]]</td>
                        <td>[[${notice.uid}]]</td>
                        <td></td>
                        <td>
                            <a th:href="@{/cs/view(noticeNo=${notice.noticeNo})}" class="moveBtn" data-no=${notice.noticeNo}
                               title="공지사항 상세보기">
                                <span th:text="${notice.title}"></span>
                            </a>
                        </td>
                        <td th:text="${#temporals.format(notice.rdate, 'yy-MM-dd')}">2012-12-20</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- pagination -->
            <div class="pagination">
                <nav>
                    <a th:href="@{/cs/notice(pg=1)}" class="control first">처음</a>
                    <a th:href="@{/cs/notice(pg=${pg - 1})}" class="control prev" th:if="${pg > 1}">이전</a>

                    <th:block th:each="num : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                        <a th:href="@{/cs/notice(pg=${num})}" th:class="${num == pg ? 'selected page-num' : 'page-num'}" th:text="${num}"></a>
                    </th:block>

                    <a th:href="@{/cs/notice(pg=${pg + 1})}" class="control next" th:if="${pg < lastPageNum}">다음</a>
                    <a th:href="@{/cs/notice(pg=${lastPageNum})}" class="control last">마지막</a>
                   <!-- <button type="submit" class="button purple large" onclick="location.href='#'">등록</button>-->
                </nav>
            </div>
            <!--// pagination -->

        </div>
    </div>
</div>
<!-- notice 본문 끝 -->


</body>
</html>