<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/movie/css/movie.css" />
</head>
<body>
<div class="movie-detail-page">
    <div class="movie-detail-cont">

        <p class="d-day default">예매 D-2</p>

        <p class="contents-type"></p>
        <p class="title">다크 나이트</p>
        <p class="title-eng">The Dark Knight</p>

        <div class="btn-util">
            <button
                    type="button"
                    title="보고싶어 안함"
                    class="btn btn-like"
                    rpst-movie-no="00094300"
            >
                <i class="iconset ico-heart-line"></i>
                <span title="보고싶어 한 명수" id="intrstCnt"> 558 </span>
            </button>

            <div class="sns-share">
                <a href="#" class="btn btn-common-share" title="공유하기">
                    <i class="iconset ico-sns-line"></i> 공유하기
                </a>

                <div class="btn-sns-share-wrap">
                    <div class="cont-area">
                        <div class="btn-sns-share-group"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- info -->

        <div class="info">
            <div class="score" style="display: none">
                <p class="tit">실관람 평점</p>
                <div class="number gt" id="mainMegaScore">
                    <p title="실관람 평점" class="before">
                        <em>9.7</em><span class="ir">점</span>
                    </p>
                </div>
            </div>

            <div class="rate" style="padding: 0">
                <p class="tit">예매율</p>

                <p class="cont"><em>2</em>위 (17.4%)</p>
            </div>

            <div class="audience">
                <div class="tit">
                    <span class="m-tooltip-wrap">누적관객수 </span>
                </div>
                <p class="cont"><em>4,228,360</em> 명</p>
            </div>
        </div>
        <!--// info -->

        <div class="poster">
            <div class="wrap">
                <p class="movie-grade age-15">15세 이상 관람가</p>

                <img
                        src="https://img.megabox.co.kr/SharedImg/2020/06/17/4UNWGNdt9939BUiWfXsJk9jWNGdVejsH_420.jpg"
                        onerror="noImg(this)"
                        alt="다크 나이트"
                />
            </div>
        </div>

        <div class="reserve screen-type col-2">
            <div class="reserve">
                <a
                        href="javascript:fn_bookingForm('00094300','basic');"
                        class="btn reserve"
                        title="영화 예매하기"
                >예매</a
                >
                <a
                        href="javascript:fn_bookingForm('00094300','DBC');"
                        class="btn dolby"
                >
                </a>
            </div>
        </div>
    </div>
    <div id="contentData">
        <div class="inner-wrap">
            <div class="movie-summary infoContent" id="info">
                <div class="txt">
                    이 도시에 정의는 죽었다! 범죄와 부정부패를 제거하여 고담시를
                    지키려는 배트맨(크리스찬 베일). 그는 짐 고든 형사(게리 올드만)와
                    패기 넘치는 고담시 지방 검사 하비 덴트(아론 에크하트)와 함께
                    도시를 범죄 조직으로부터 영원히 구원하고자 한다.<br /><br />배트맨을
                    죽여라! 세 명의 의기투합으로 위기에 처한 악당들이 모인 자리에
                    보라색 양복을 입고 얼굴에 짙게 화장을 한 괴이한 존재가 나타나
                    ‘배트맨을 죽이자’는 사상 초유의 제안을 한다. 그는 바로 어떠한
                    룰도, 목적도 없는 사상 최악의 악당 미치광이 살인광대 ‘조커’(히스
                    레저).<br /><br />마침내 최강의 적을 만나다! 배트맨을 죽이고
                    고담시를 끝장내버리기 위한 조커의 광기 어린 행각에 도시는 혼란에
                    빠진다. 조커는 배트맨이 가면을 벗고 정체를 밝히지 않으면 멈추지
                    않겠다며 점점 배트맨을 조여온다. 한편, 배트맨은 낮엔 기업의
                    회장으로, 밤에는 가면을 쓴 배트맨으로 밤과 낮의 정체가 다른 자신과
                    달리 법을 통해 도시를 구원하는 하비 덴트야말로 진정한 영웅이
                    아닐까 생각하게 된다.<br /><br />밤의 기사, 그 전설의 서막이
                    열린다! 조커를 막기 위해 직접 나서 영원히 존재를 감춘 밤의 기사가
                    될 것인가. 하비 덴트에게 모든 걸 맡기고 이제 가면을 벗고 이중
                    생활의 막을 내릴 것인가. 갈림길에 선 그는 행동에 나서야만 하는데…
                    사상 최강, 운명을 건 대결은 이제부터 시작이다!
                </div>
                <div class="btn-more toggle">
                    <button type="button" class="btn">
                        <span>더보기</span> <i class="iconset ico-btn-more-arr"></i>
                    </button>
                </div>
            </div>

            <div class="movie-info infoContent">
                <p>상영타입 : 2D(자막)</p>
                <div class="line">
                    <p>등급&nbsp;: 15세이상관람가</p>
                    <p>개봉일&nbsp;: 2023.11.15</p>
                </div>
            </div>

            <!-- movie-graph -->
            <div class="movie-graph infoContent">
                <div class="col">
                    <dl>
                        <dt>관람포인트</dt>
                        <dd id="charByPoint">연출·배우</dd>
                    </dl>
                </div>

                <div class="col" id="subMegaScore">
                    <dl>
                        <dt>실관람 평점</dt>
                    </dl>

                    <div class="score equal" style="position: relative; bottom: 15px">
                        <div class="middle">
                            <div class="circle">
                                <em>9.7</em><span class="ir">점</span>
                            </div>
                        </div>
                    </div>

                    <dl>
                        <dt>예매율</dt>
                        <dd class="font-roboto regular">
                            <span id="rkTag">17.4%</span>
                        </dd>
                    </dl>
                </div>

                <div class="col">
                    <dl>
                        <dt>누적관객수</dt>
                        <dd class="font-roboto regular">4,228,360</dd>
                    </dl>
                </div>
            </div>
            <!--// movie-graph -->

            <!-- 영화관 선택후 -->

            <!--// movie-greeting  -->

            <!-- 한줄평 있을 때 -->
            <div class="tit-util mt70 mb15 oneContent">
                <h2 class="tit small">
                    다크 나이트에 대한 <span class="font-gblue">1</span>개의 이야기가
                    있어요!
                </h2>
            </div>

            <!-- 레이어  : 본 영화 등록 -->
            <section id="saw_movie_regi" class="modal-layer">
                <div class="wrap">
                    <header class="layer-header">
                        <h3 class="tit">본 영화 등록</h3>
                    </header>

                    <div class="layer-con">
                        <div class="pop-gray mt10 mb30">
                            <label for="movie_regi" class="mr10"
                            >거래번호 또는 예매번호</label
                            >
                            <input
                                    type="text"
                                    id="movie_regi"
                                    class="input-text w280px"
                                    maxlength="20"
                                    placeholder="숫자만 입력해 주세요"
                                    title="티켓 거래번호 입력"
                            />
                            <button class="button gray ml05">등록</button>
                        </div>

                        <div class="box-border v1 mt30">
                            <p class="tit-box">이용안내</p>
                        </div>
                    </div>

                    <div class="btn-group-fixed">
                        <button type="button" class="button purple close-layer">
                            닫기
                        </button>
                    </div>

                    <button type="button" class="btn-modal-close">레이어 닫기</button>
                </div>
            </section>

            <div class="movie-idv-story oneContent">
                <ul>
                    <li class="type03">
                        <div class="story-area">
                            <div class="user-prof">
                                <div class="prof-img">
                                    <img src="./logo.png" alt="Logo"/>
                                </div>
                                <p class="user-id">LSET CINEMA</p>
                            </div>

                            <div class="story-box">
                                <div class="story-wrap">
                                    <div class="story-cont">
                                        <span class="font-gblue">다크 나이트</span>
                                        재미있게 보셨나요? 영화의 어떤 점이 좋았는지 이야기해주세요.
                                    </div>

                                    <div class="story-write">
                                        <a href="#tooltip-layer01" title="관람평쓰기" class="tooltip-click oneWrtNonMbBtn"><i class="iconset ico-story-write"></i> 관람평쓰기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--한줄평 리뷰-->
                    <li class="type01 oneContentTag">
                        <div class="story-area">
                            <div class="user-prof">
                                <p class="user-id">아이디</p>
                            </div>
                            <div class="story-box">
                                <div class="story-wrap review">
                                    <div class="tit">관람평</div>
                                    <div class="story-cont">
                                        <div class="story-point"><span>10</span></div>
                                        <div class="story-txt">리뷰 내용</div>
                                        <div class="story-like">
                                            <button type="button" class="oneLikeBtn" title="댓글 추천">
                                                <i class="iconset ico-like-gray"></i> <span>2</span>
                                            </button>
                                        </div>
                                        <div class="story-util">
                                            <div class="post-funtion">
                                                <div class="wrap">
                                                    <div class="balloon-space user">
                                                        <div class="balloon-cont">
                                                            <div class="btn-close">
                                                                <a href="#" title="닫기"><img src="/static/pc/images/common/btn/btn-balloon-close.png" alt="닫기"/></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="story-date">
                            <div class="review on"><span>2023.04.26</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </section>
</div>
</body>
</html>
